/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.movie {
  display: flex;
  justify-content: space-between;
}

.movie-image {
  flex-basis: 10%;
}

.movie-image img {
  max-width: 100%;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}

.movie-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  flex-basis: 0;

  margin-left: 10px;
}

.movie-title {
}

.movie-description {
  flex-grow: 1;

  margin-top: 5px;
  text-align: justify;
  line-height: 1.3em;
}

.movie-footer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  margin: 8px 8px 3px 0;
}

.movie-vote span {
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
}

.default {
  background-color: #ffcc33;
}

.good {
  background-color: #61c74f;
}

.bad {
  background-color: #ff3046;
}

.movie-actions button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
  cursor: pointer;
}

.add {
  background-color: #315481;
}

.remove {
  background-color: #813d64;
}